

<section class="section">
  <div class="column is-8">
    <h1 class="title is-size-2">Contact Me!</h1>
    <!-- form goes here -->
    <form (ngSubmit)="processForm()" class="box">
    
      <!-- name -->
      <div class="field is-horizontal is-grouped">
        <div class="field-body">
          <div class="field">
            <label class="label">Name</label>
            <div class="control is-expanded has-icons-left">
              <input type="text" name="name" class="input" placeholder="Your Name" [(ngModel)]="name" required minlength="3"
                #nameInput="ngModel">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
          
              <div class="help is-error" *ngIf="nameInput.invalid && nameInput.dirty">
                Required! Must be at least 3 characters long.
              </div>
            </div>
          </div>
          <!-- email -->
          <div class="field">
            <label class="label">Email</label>
            <div class="control is-expanded has-icons-left">
              <input type="email" name="email" class="input" placeholder="Your Email" [(ngModel)]="email" required email
                #emailInput="ngModel">
              <span class="icon is-small is-left">
                <i class="fas fa-at"></i>
              </span>
              <div class="help is-error" *ngIf="emailInput.invalid && emailInput.dirty">
                Please enter a valid email.
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- message -->
      <div class="field">
        <label class="label">Message</label>
        <textarea class="textarea" name="message" placeholder="What's on your mind?" [(ngModel)]="message" required
          #messageInput="ngModel"></textarea>
      </div>
      <div class="column is-centered is-2 is-offset-5">
        <button type="submit" class="button is-danger is-large is-centered">Submit</button>
      </div>
    </form>

  </div>
</section>