<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        This website was handcrafted by <a href="https://www.linkedin.com/in/allen-lyons-a6845386/">Allen</a>
        <br>
        using <a href="https://angular.io/" target="_blank" rel="noopener noreferrer">Angular</a> and <a href="https://bulma.io/" target="_blank" rel="noopener noreferrer">Bulma</a>
        <br>
        source code on <a href="https://github.com/lyonsa/personal_website" target="_blank" rel="noopener noreferrer">Github</a>
      </p>

    </div>
  </div>
</footer>