<nav class="navbar is-dark" role="navigation" aria-label="main navigation">

  <!-- logo -->
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="">
      <img src="../../../assets/AL_logo.png" alt="Allen Lyons: a software developer for everyone">
    </a>
    <a (click)="toggleNavbar()" role="button" #navBurger class="navbar-burger burger is-large" data-target="navMenu"
      aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navMenu" #navMenu>
    <div  class="navbar-end">
      <a  class="navbar-item is-size-5" routerLink="" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a  class="navbar-item is-size-5" href="../../../assets/lyonsa_resume_20190321.pdf" routerLinkActive="is-active">Resume</a>
      <a  class="navbar-item is-size-5" routerLink="contact" routerLinkActive="is-active">Contact</a>
    </div>
  </div>
</nav>