<nav class="navbar is-dark" role="navigation" aria-label="main navigation">

  <!-- logo -->
  <div class="navbar-brand">
    <a class="navbar-item">
      <p class="has-text-weight-bold is-size-4">&lang;AL&rang;</p>
    </a>
      <a (click)="toggleNavbar()" role="button" #navBurger class="navbar-burger burger" data-target="navMenu"
        aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
  </div>

  <div class="navbar-menu" id="navMenu" #navMenu>
    <div class="navbar-end">
      <a class="navbar-item" routerLink="">Home</a>
      <a class="navbar-item" routerLink="resume">Resume</a>
      <a class="navbar-item" routerLink="contact">Contact</a>
    </div>
  </div>
</nav>