
<section class="">
  <div class="columns is-centered">
    <div class="column has-text-centered is-half">
      <section class="section">
        <figure class="image">
          <img class="is-rounded" src="../../../assets/dog_on_laptop.jpg">
        </figure>
        <h1 class="title is-bold animated fadeIn slower delay-1s is-marginless">Allen Lyons</h1>
        <p class="is-size-4">Hello!<br></p>
        <p class="is-size-4">I'm a <span class="text-highlight" id="web-dev">full-stack web developer</span>, <span class="text-highlight" id="db-manager">database manager</span>, <span class="text-highlight" id="etl-dev">ETL developer</span>, <span class="text-highlight" id="linux-admin">linux admin</span>, and <span class="text-highlight" id="dragon">dragon slayer!</span></p>
        <span class="icon is-large">
          <a href="https://www.linkedin.com/in/allen-lyons-a6845386/">
            <i class="fab fa-linkedin fa-3x"></i>
          </a>
        </span>
        <span class="icon is-large">
          <a href="https://github.com/lyonsa">
            <i class="fab fa-github-square fa-3x"></i>
          </a>
        </span>
        <span class="icon is-large">
          <a href="https://twitter.com/lions8lyons">
            <i class="fab fa-twitter-square fa-3x"></i>
          </a>
        </span>
        <span class="icon is-large">
          <a href="mailto:allyons16@gmail.com">
            <i class="fas fa-envelope-square fa-3x"></i>
          </a>
        </span>
      </section>
 
    </div>
  </div>
</section>