.hero {
background: transparent !important;
background-size: cover;
}

.column {
    height: 100vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 53pt;
    color: #fff;
}

p{
    margin-top: 1em;
}

img{
    width: 20em;
}

.icon{
    padding: 2.5em;
}

span.text-highlight{
    display: inline-block;
}

span#web-dev{

    color: rgb(15, 15, 204);
    box-shadow: inset 0 -6px 0 rgba(15, 15, 204, 0.2);
}
span#db-manager{
    color: rgb(179, 16, 16);
    box-shadow: inset 0 -6px 0 rgba(179, 16, 16, 0.2);
}
span#etl-dev{
    color: rgb(201, 23, 127);
    box-shadow: inset 0 -6px 0 rgba(201, 23, 127, 0.2);
}
span#linux-admin{
    box-shadow: inset 0 -6px 0 rgba(255,74,110,.2);
    color: purple;
}
span#dragon{
    color: rgb(255, 215, 0);
    box-shadow: inset 0 -6px 0 rgba(255, 215, 0,.5);
}
span a{
    color: rgb(241, 241, 241);
    transition: 0.5s;
}

span a:hover{
    color: rgb(54, 54, 54);
    font-weight: 400;
}

